
.navbar {
  list-style: none;
  display: flex;
  position: relative;
  justify-content: center;
  background: #1c3b28;
  height:5rem;
  width: 100%;
  margin: auto auto;
 
}

li {
  margin: 0 20px;
  margin-top: 1.5rem;
  font-weight: 700;
  color: white;
}

img{
  height: 3rem;
  position: absolute;
  margin-left: 90%;
  transform: translateY(-65px);
}

h1{
  font-family: sans-serif;
  margin: 2rem;
}
